.swapButton {
  background-color: var(--surface-color);
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.2, 0.8, 0.2, 1), background-color 0.2s ease;
  flex-shrink: 0;
  margin-bottom: 3px;
}

.swapButton:hover {
  background-color: rgba(var(--primary-color-rgb), 0.1);
  transform: scale(1.1);
}

.swapButton:active {
  background-color: rgba(var(--primary-color-rgb), 0.15);
  transform: rotate(180deg) scale(1.0);
  transition-duration: 0.2s;
}