.headerSection {
  text-align: left;
  width: 100%;
  padding-bottom: 0;
  border-bottom: none;
  padding-top: 15;
  padding-left: 18px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.95rem;
  font-weight: 800;
  color: var(--text-primary);
  margin: 0;
  letter-spacing: -0.75px;
}

.logoIcon {
  color: var(--primary-color);
  font-size: 1.8rem;
  transform: translateY(2px);
}

.logo span {
  color: var(--primary-color);
}